---
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import { BlogPost } from "src/components/BlogPost";
import BaseLayout from "src/layouts/BaseLayout.astro";
import ReadingTime from "src/components/ReadingTime.astro";
import { calculateReadingTime } from "src/lib/calculateReadingTime";
import dayjs from "dayjs";

export const getStaticPaths =  (async () => {
  const blogPosts = await getCollection('blogPosts')
  return blogPosts
    .filter(post => import.meta.env.DEV || post.data.isPublished)
    .map(post => ({
      params: { slug: post.data.slug },
    }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params
const post = await getEntry('blogPosts', slug)
if (!post) {
  throw new Error(`Blog post not found with slug: ${slug}`);
}

const {Content} = await render(post)
const formattedPublishDate = dayjs(post.data.date).format('MMMM DD, YYYY')
const readingTime = calculateReadingTime(post.body)

---
<BaseLayout>
  <div class="mx-auto max-w-screen-xl p-8 pt-0">
    <div class="relative left-[50%] right-[50%] ml-[-50vw] mr-[-50vw] w-screen bg-gradient-to-tl from-blue-400 to-emerald-400 py-20 px-4 text-center shadow-lg">
      <h1
        class="mb-1 break-words text-4xl font-bold text-black md:text-5xl"
        transition:name={`post-title-${slug}`}
      >
        {post.data.title}
      </h1>
      <div class="flex flex-col gap-2 items-center text-black md:text-lg">
        <time
          datetime={formattedPublishDate}
          class="text-base text-black md:text-lg"
          transition:name={`post-date-${slug}`}
        >
          Published on {formattedPublishDate}
        </time>
        <ReadingTime
          minutes={readingTime.minutes}
          display={readingTime.display}
          className="text-base text-black md:text-lg"
        />
      </div>
    </div>
    <BlogPost post={post} pathname={Astro.url.pathname} client:load>
      <Content />
    </BlogPost>
  </div>

</BaseLayout>

  
